{% assign settings = site.data.settings %}

<!-- Footer Top -->
<section class="footer-top">
    <div class="row">
        <div class="medium-8 columns">
            <div class="row">

                <!-- English Courses -->
                <div class="medium-4 columns show-for-medium-up">
                    <h3>English Courses</h3>
                        <ul class="no-bullet">
                        {% for item in site.data.navigation[1].children[0].children %}
                            <li><a href="#">{{ item.title }}</a></li>
                        {% endfor %}
                        </ul>
                </div> <!-- .medium-4 -->

                <!-- Get In Touch -->
                <div class="medium-4 columns">
                    <h3>Get In Touch</h3>
                    <ul class="no-bullet">
                        <li><a href="tel:"><i class="fa fa-phone"></i>&nbsp; {{ settings.phone }}</a></li>
                        <li><a href="tel:"><i class="fa fa-fax"></i>&nbsp; {{ settings.fax }}</a></li>
                        <li><a href="mailto:"><i class="fa fa-envelope"></i>&nbsp; {{ settings.email }}</a></li>
                    </ul>

                     <!-- Campus Address -->
                    <h3>Campus Address</h3>
                    {{ settings.address | markdownify }}
                </div> <!-- .medium-4 -->

                <!-- Site Map -->
                <div class="medium-4 columns show-for-medium-up">
                    <h3>Site Map</h3>
                    <ul class="no-bullet">
                    {% for item in site.data.navigation %}
                        <li><a href="#">{{ item.title }}</a></li>
                    {% endfor %}
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Student Login</a></li>
                    </ul>
                </div> <!-- .medium-4 -->
            </div> <!-- .row -->
        </div> <!-- .medium-8 -->

        <!-- Newsletter Signup -->

        <div class="medium-4 columns">
            <h3>Join our Newsletter</h3>
            <form class="search-form" action="/search/" method="get">
                <div class="row collapse">
                    <div class="small-8 medium-9 columns">
                        <input class="prefix radius" type="text" name="q" name="search" placeholder="">
                    </div>
                    <div class="small-4 medium-3 columns">
                        <button class="button large radius postfix">Submit</button>
                    </div>
                </div> <!-- .row -->
            </form> <!-- .search-form -->

            <!-- Social Networks -->

            <div class="social-networks">
                <h3>Connect with Us</h3>
                <ul class="social-networks lv-inline-list small-only-text-center">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
            </div> <!-- .social-networks -->

        </div> <!-- .medium-4 -->
    </div> <!-- .row -->
</section> <!-- .footer-bottom -->

<!-- Footer Bottom -->
<section class="footer-bottom text-center medium-text-left">
    <div class="row">
        <div class="medium-4 columns">
            <a href="#"><b>&copy; 2014</b> - English Unlimited. All rights reserved.</a>
        </div> <!-- .columns -->
        <div class="medium-8 columns">
            <ul class="lv-inline-list medium-text-right">
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Privacy Statement</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div> <!-- .columns -->
    </div> <!-- .row -->
</section> <!-- .footer-bottom -->