{% comment %}
    IGNORE THIS COMMENT: Interchange code reference for dev self:
    <img width="200" data-interchange="[/ImageGen.ashx?width=200&image=@logo.Url, (default)], [@logo.Url, (retina)]" alt="@logo.Name">

    {{ settings.logo }}
{% endcomment %}

{% assign settings = site.data.settings %}

<div class="row outer-row">
    <div class="large-4 columns">
        <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
        <img src="/img/content/logo@2x.png" width="280" alt="{{ settings.company_title }}" itemprop="logo"></a>
    </div>
    <div class="large-8 columns">
        <ul class="header-links lv-inline-list close-gaps medium-text-right show-for-large-up">
            <li class="language-switcher"><a href="#"><i class="flag-icon flag-icon-gb"></i>&nbsp; English <i class="fa fa-angle-down fa-lg"></i></a></li>
            <li><a href="#"><i class="fa fa-lock"></i>&nbsp; Login</a></li>
            <li><a href="#"><i class="fa fa-envelope"></i>&nbsp; Contact Us</a></li>
            <li><a class="button tiny radius" href="#">Apply Now</a></li>
        </ul>
    </div>
</div>

<!-- Important: Hamburger outside of row -->
<a href="#open" class="hamburger hide-for-large-up"><span></span></a>