---
layout: master
hero_link: /some-link-here/
---

{% assign settings = site.data.settings  %}
{% assign news = site.pages | where: "type", "news_item" %}
{% assign events = site.pages | where: "type", "event_item" %}

{% comment %}
<h1>H1 Header</h1>
					<h2>H2 Header</h2>
					<h3>H3 Header</h3>
					<h4>H4 Header</h4>
					<h5>H5 Header</h5>
					<h6>H6 Header</h6>

					{% for items in site.pages %}
							<li>
								<article class="news-item">
									<h3>{{ item.permalink }}yo </h3>
									<p><date>{{ item.date | date: "%d %B %Y" }}</date></p>

								</article>
							</li>
						{% endfor %}
{% endcomment %}

<div class="homepage">

	<!-- HERO -->
	<div id="lv-hero-carousel" class="lv-hero-wrapper">

		<!-- Slide 01 -->
		<div class="lv-hero animated" style="background-image: url('{{site.assets}}/img/content/banner-1.png')" data-background-image="...">
			<div class="row outer-row collapse center-vertical">
				<div class="medium-6 medium-offset-6 large-4 large-offset-8 columns">

					<!-- Caption -->
					<div class="lv-hero-caption animated">
						<h1>ENJOY EVERY SECOND</h1>
						<p><a href="#" class="button radius">Learn More</a></p>
					</div> <!-- .lv-hero-caption -->

				</div> <!-- .medium-8 -->
			</div> <!-- .row -->
		</div> <!-- .lv-hero -->

		<!-- Slide 02 -->
		<div class="lv-hero animated" style="background-image: url('{{site.assets}}/img/content/banner-2.png')" data-background-image="...">
			<div class="row outer-row collapse center-vertical">
				<div class="medium-5 columns">

					<!-- Caption -->
					<div class="lv-hero-caption animated">
						<h1>FEEL THE UNLIMITED DIFFERENCE</h1>
						<p><a href="#" class="button radius">Learn More</a></p>
					</div> <!-- .lv-hero-caption -->

				</div> <!-- .medium-8 -->
			</div> <!-- .row -->
		</div> <!-- .lv-hero -->

	</div> <!-- .lv-hero-wrapper -->

	<!-- Bullets -->
	<div class="row">
		<div class="columns">
			<div class="lv-hero-carousel-bullets show-for-medium-up"></div>
		</div>
	</div> <!-- .row -->

	<!-- MAIN -->
	<main class="main">

		<!-- Intro Claim -->
		<div class="section our-courses-section">
			<div class="row">
				<div class="medium-6 columns">
					<h2>WHO ARE WE?</h2>
					<p>We're an Australian Queensland College that's passionate about teaching English. We're engaging, caring, fun and most importantly understand how to maximise your learning experience to the fullest.</p>
				</div> <!-- .columns -->
				<div class="medium-6 columns">
					<ul class="button-list lv-inline-list medium-text-right">
						<li><a href="#" class="button radius">Apply Today</a></li>
						<li><a href="#" class="button radius">Make an Enquiry</a></li>
					</ul>
				</div> <!-- .columns -->
			</div> <!-- .row -->
		</div> <!-- .our-courses-section -->

		<div class="section">
			<div class="row" data-equalizer>
				<div class="medium-11 medium-centered columns">
					<ul class="promo-tiles large-block-grid-3 text-center">
					{% for item in site.data.promo_claims %}
						<li>
							<div class="promo-tile" data-equalizer-watch>
								<i class="promo-tile-badge fa {{ item.icon }}"></i>
								<h3>{{ item.title }}</h3>
								<p>{{ item.desc }}</p>
							</div> <!-- .promo-tile -->
						</li>
					{% endfor %}
					</ul>
				</div> <!-- .columns -->
			</div> <!-- .row -->
		</div> <!-- .section -->

		<!-- Image Section -->
		<div class="section image-section has-xlarge-padding has-color-overlay">
			<div class="row">
				<div class="medium-8 medium-centered text-center columns">
					<h2>GO BEYOND THE CLASSROOM</h2>
					<p>Our primary aims are to deliver dynamic, stimulating, relevant courses to prepare students be be a global citizens in the international world of English.</p>
					<a href="#" class="button radius knockout">All Courses</a>
				</div> <!-- .columns -->
			</div> <!-- .row -->
		</div> <!-- .section -->

		<div class="section">
			<div class="row">
				<div class="medium-8 columns">
					<h3>Global Students</h3>
					<p>Our courses are designed to enable learners to use English independently for global communication, in real-life situations. They provide authentic practice of English and encourage communication skills by presenting structures and skills in an exciting, friendly context. This helps learners improve their English and become better speakers, listeners, readers and writers of this international language.</p>

					<h3>Global Classrooms</h3>
					<p>Using a wide range of different methods and the latest technology, our classrooms are full of laughter, movement and fun. These are no ordinary classes! There will also be ample opportunity for leaving the classroom, engaging native speakers in natural English and experiencing the multi-cultural world of Australia.</p>
				</div>
				<div class="medium-4 columns">
					<h3>English Courses</h3>
					<ul class="no-bullet">
						{% for item in site.data.navigation[1].children[0].children %}
							<li><a href="#"><i class="fa fa-chevron-right greyed"></i>&nbsp; {{ item.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>

		<!-- Events Section -->

		<div class="section has-no-margin has-large-padding color-section color-3">
			<div class="row">
				<div class="columns">

					<div class="section text-center">
						<h2>LATEST NEWS</h2>
					</div>

					<div class="news-module">
						<ul class="medium-block-grid-2 large-block-grid-3" data-equalizer>
						{% for item in news | limit: 3 %}
							<li>
								<a class="article-card" href="#" data-equalizer-watch>
									<img src="http://lorempixel.com/400/200/nature?{{forloop.index}}" alt="">
									<div class="article-card-text">
										<h3>{{ item.title }}</h3>
										{{ item.content | markdownify | truncate: 200 }}
									</div>
								</a>
							</li>
						{% endfor %}
						</ul>
					</div> <!-- .news-module -->
					<p class="text-center"><a href="#" class="button radius">Read More</a></p>
				</div>
			</div> <!-- .row -->
		</div> <!-- .color-section -->

		<!-- Intro Claim -->
		<div class="section our-courses-section">
			<div class="row">
				<div class="medium-6 columns">
					<h2>UPCOMING EVENTS</h2>
					<p>We're an Australian Queensland College that's passionate about teaching English. We're engaging, caring, fun and most importantly understand how to maximise your learning experience to the fullest.</p>
				</div> <!-- .columns -->
				<div class="medium-5 end columns">
					<p class="medium-text-right"><a href="#" class="button radius">All Events</a></p>
				</div> <!-- .columns -->
			</div> <!-- .row -->
		</div> <!-- .our-courses-section -->

		<div class="section">
			<div class="row">
				<div class="large-8 columns">
					<ul class="section medium-block-grid-2 large-block-grid-2">
						{% for item in events | limit: 2 %}
						<li>
							<article class="event-item">
								<h3>{{ item.title }}</h3>
								<h5 class="subheader"><date><i class="fa fa-calendar"></i>&nbsp; {{ item.date | date: "%d %B %Y" }}</h5>
								<p>{{ item.content | truncate: 200 }}</p>
								<a href="{{ item.url }}">Read More &nbsp;<i class="fa fa-chevron-right"></i></a>
							</article>
						</li>
						{% endfor %}
					</ul>
				</div> <!-- columns -->
				<div class="large-4 columns">
					{% include facebook_widget.html %}
				</div> <!-- .columns -->
			</div> <!-- .row -->
		</div> <!-- .section -->

		<div class="row">
			<div class="columns">
				<hr>
			</div>
		</div>

		<div class="section sponsors-section">
			<div class="row">
				<div class="large-10 large-centered columns">
					<ul class="small-block-grid-5">
						<li><a href="#"><img width="140" src="/img/template/sp-1.png" alt="Australia Future Unlimited"></a></li>
						<li><a href="#"><img width="140" src="/img/template/sp-2.png" alt="NEAS"></a></li>
						<li><a href="#"><img width="140" src="/img/template/sp-3.png" alt="Pretesting"></a></li>
						<li><a href="#"><img width="140" src="/img/template/sp-4.png" alt="Cambridge English Language Assessment"></a></li>
						<li><a href="#"><img width="140" src="/img/template/sp-5.png" alt="English Australia"></a></li>
					</ul>
				</div>
			</div>
		</div>

	</main>

</div> <!-- .homepage -->