@font-face {
    font-family: 'Handwritten Crystal';
    src: url('../fonts/handwritten_crystal_v2-webfont.eot');
    src: url('../fonts/handwritten_crystal_v2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/handwritten_crystal_v2-webfont.woff2') format('woff2'),
         url('../fonts/handwritten_crystal_v2-webfont.woff') format('woff'),
         url('../fonts/handwritten_crystal_v2-webfont.ttf') format('truetype'),
         url('../fonts/handwritten_crystal_v2-webfont.svg#handwritten_crystal_v2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque';
    src: url('../fonts/geogtq-bd-webfont.eot');
    src: url('../fonts/geogtq-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-bd-webfont.woff2') format('woff2'),
         url('../fonts/geogtq-bd-webfont.woff') format('woff'),
         url('../fonts/geogtq-bd-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-bd-webfont.svg#geogrotesque_bdbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque';
    src: url('../fonts/geogtq-sb-webfont.eot');
    src: url('../fonts/geogtq-sb-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-sb-webfont.woff2') format('woff2'),
         url('../fonts/geogtq-sb-webfont.woff') format('woff'),
         url('../fonts/geogtq-sb-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-sb-webfont.svg#geogrotesque_smbdsemibold') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque';
    src: url('../fonts/geogtq-rg-webfont.eot');
    src: url('../fonts/geogtq-rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-rg-webfont.woff2') format('woff2'),
         url('../fonts/geogtq-rg-webfont.woff') format('woff'),
         url('../fonts/geogtq-rg-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-rg-webfont.svg#geogrotesque_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}