@import "foundation/settings";
/*
    MAIN.CSS

    - Last updated: 00.00.00
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Foundation Overrides (Hacks)
//-----------------------------------------------------------------

html, body {
	//@media #{$small-only} {
        //font-size: 90%;
	//}
}

//=========================================
// Snap Grid
//
// Tells grid to "snap" into each breakpoint.
// Removes issue of seeing elements super large
// before falling into place naturally.
//
// Notes:
// 5.000em = 80 (page-padding * 2)
// Using EMs because media queries in Foundation do so
//=========================================

.row {
    @media #{$medium-up}  { max-width: upper-bound($medium-range);  }
    @media #{$large-up}   { max-width: upper-bound($large-range);   }
    @media #{$xlarge-up}  { max-width: upper-bound($xlarge-range);  }
    @media #{$xxlarge-up} { max-width: upper-bound($xxlarge-range); }
}

// .row {
// 	@media #{$medium-up}  { max-width: upper-bound($medium-range)  + 5.000em; }
// 	@media #{$large-up}   { max-width: upper-bound($large-range)   + 5.000em; }
// 	@media #{$xlarge-up}  { max-width: upper-bound($xlarge-range)  + 5.000em; }
// 	@media #{$xxlarge-up} { max-width: upper-bound($xxlarge-range) + 5.000em; }
// }

// Add side padding to the page above small
// .outer-row {
// 	@media #{$medium-up} {
// 		padding-left: $page-padding - $column-gutter / 2;
// 		padding-right: $page-padding - $column-gutter / 2;
// 	}
// }

// Ensure images scale to block grid LIs */
// ul[class*='block-grid'] li img {
// 	width: 100%;
// }

//-----------------------------------------------------------------
// lv-super: top-most non-visual wrapper | lv-page: visual wrapper
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
    position: relative;
    background: $secondary-color;
    height: rem-calc(50);
    overflow: hidden;

    @media #{$medium-up} {
        height: rem-calc(90);
    }

    @media #{$xlarge-up} {
        height: rem-calc(104);
    }
}

.header .logo {
    position: relative;
    top: rem-calc(10);

    img {
        width: rem-calc(150);

        @media #{$medium-up} {
            width: rem-calc(280);
        }
    }

    @media #{$large-up} {
        top: rem-calc(14);
    }

    @media #{$xlarge-up} {
        top: rem-calc(22);
    }
}

.header-links {
    position: relative;
    font-weight: bold;
    font-size: rem-calc(13);
    text-transform: uppercase;

    a {
        color: #c1c1c1;
        padding: rem-calc(10 10);
    }
}

.apply-now {
    @media #{$large-up} {
        width: rem-calc(100);
        position: relative;
    }

    a {
        @media #{$large-up} {
            position: absolute;
            top: -80px;
            left: 0;
            background: #E34C79;
            color: white;
            width: 100%;
            height: rem-calc(100);
            text-align: center;
            line-height: 1.2;
            border-radius: 1000px;
        }
        .text {
            @media #{$large-up} {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 10px;
            }
        }
    }
}

//-----------------------------------------------------------------
// Navigation
//-----------------------------------------------------------------

.navigation {
    // top: auto;
    width: 100%;
    background: $secondary-color;
    // box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.4);
    // z-index: 10;

    @media #{$medium-up} {
        // width: 100%;
        // top: 120px;
        // background: url(../images/ui/black-transparent.png);
        // background: rgba(0, 0, 0, .5);
        // box-shadow: none;
    }

    @media #{$large-up} {
        // margin-top: 0;
        // background: none;
    }

    @media #{$xlarge-up} {


        // background: none;
    }
}

.navigation .topbar {
    @media #{$xlarge-up} {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.navigation .topbar ul {
    @media #{$xlarge-up} {
        float: right;
        width: rem-calc(900);


    }

    @media #{$large-up} {
        // float: right;
    }
}

//-----------------------------------------------------------------
// Off Canvas Menu
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.lv-hero-caption .button {
    color: #222;
    font-family: Handwritten Crystal;
    font-size: rem-calc(28);
    font-weight: 200;
}

.lv-hero-caption h1 {
    font-size: rem-calc(50);
    font-weight: bold;
    line-height: 1;
    margin-bottom: rem-calc(20);
    color: white;

    @media #{$medium-up} {
        font-size: rem-calc(90);
    }
}

//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Content
//-----------------------------------------------------------------

.main {
    border-top: 8px solid $tertiary-color;
}

//-----------------------------------------------------------------
// Sections
//-----------------------------------------------------------------

.sponsors-section {
    opacity: 0.6;
}

.image-section {
    background-image: url(../img/template/studying.png);
}

//-----------------------------------------------------------------
// Media Object
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Modules
//-----------------------------------------------------------------

.news-module .article-card {
    // height: 10;
}

.article-card {
    // box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.05);
    display: block;
    background: white;
}

.article-card h3 {
    font-weight: 300;
}

.article-card img {
    width: 100%;
}

.article-card-text {
    // background: white;
    padding: rem-calc(20);
    color: #777;
    border-radius: 0 0 $global-radius $global-radius;
}

//=========================================
// Facebook Widget
//=========================================

.facebook-widget {
    background: white;
    border-radius: $global-radius;
    overflow: hidden;
    width: 100%;
    // margin-bottom: rem-calc(20);
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.05);
    padding-bottom: rem-calc(20);

    h6 {
        color: white;
        display: inline-block;
        line-height: 1;
        margin-left: rem-calc(5);
        font-weight: 300;
    }

    .facebook-widget-header {
        background: #3A5796;
        width: 100%;
        color: white;
        padding: rem-calc(5 10);
        text-align: left;
        font-size: rem-calc(18);
    }
}

//=========================================
//
//=========================================

.promo-tile {
    background: white;
    padding: rem-calc(30);
    border-radius: $global-radius;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.05);
    color: #777;
}

.promo-tile h3 {
    font-weight: 300;
}

.promo-tile a {
    color: #777;
}

.promo-tile-badge {
    background: #8BCBB8;
    font-size: rem-calc(50);
    width: rem-calc(170);
    height: rem-calc(170);
    line-height: rem-calc(170);
    margin: 0 auto rem-calc(15) auto;
    border-radius: 1000px;
    color: white;
}

//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Footer
//-----------------------------------------------------------------

.footer {
    color: white;
}

.footer h3 {
    font-weight: 300;
    margin-bottom: rem-calc(20);
}

.footer i {
    // font-size: rem-calc(18);
}

.footer a {
    font-size: rem-calc(14);
    color: white;
    word-wrap: break-word;
}

.footer-top {
    background: $secondary-color;
    padding: rem-calc(30 0);
}

.footer-bottom {
    background: darken($secondary-color, 10%);
    padding: rem-calc(20 0);

    a {
        font-size: rem-calc(13);
        color: #ccc;
    }
}

//-----------------------------------------------------------------
// Social Networks
//-----------------------------------------------------------------

.footer .social-networks a {
    font-size: rem-calc(24);
    background: white;
    color: $secondary-color;
    display: block;
    width: rem-calc(40);
    height: rem-calc(40);
    line-height: rem-calc(40);
    text-align: center;
    border-radius: 100%;
}

//-----------------------------------------------------------------
// Template Buttons
//-----------------------------------------------------------------

.our-courses-section .button {
    // even so they stack visually
    min-width: rem-calc(200);
}

//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Animations
//-----------------------------------------------------------------

.transition {
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	        transition: all .2s linear;

	-webkit-transition-property: opacity, color, background;
	   -moz-transition-property: opacity, color, background;
	     -o-transition-property: opacity, color, background;
	    -ms-transition-property: opacity, color, background;
            transition-property: opacity, color, background;
}

//-----------------------------------------------------------------
// Special / Misc - Refactor Later
//-----------------------------------------------------------------

i.greyed {
    color: #DBDBDB;
}

h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
}

.subheader {
    color: grey;
}

//-----------------------------------------------------------------
// IE8
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Themes
//-----------------------------------------------------------------

//=========================================
// Hamburger
//=========================================

.hamburger {
    position: absolute;
    visibility: hidden;
    top: 50%;
    right: rem-calc(15);
    display: block;
    width: rem-calc(28);
    height: rem-calc(24);
    z-index: 2;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    @media #{$medium-up} {
        right: rem-calc(30);
    }
}

.hamburger:before,
.hamburger:after,
.hamburger span {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: rem-calc(4);
    background: white;
}
.hamburger:before {
    top: 0;
}
.hamburger:after {
    bottom: 0;
}
.hamburger span {
    top: 50%;
    margin-top: rem-calc(-2);
}

html.mm-opening .hamburger:before,
html.mm-opening .hamburger:after {
    display: none;
}
//=========================================
//
//=========================================